.rain {
    background-color: $background-color;
    /*background-image: url(../imgs/); */
}

.snow {
    background-color: $background-color;
    /*background-image: url(../imgs/); */
}

.night {
    background-color: $night-color;
    /*background-image: url(../imgs/); */
}

.fog {
    background-color: $fog-color;
    /*background-image: url(../imgs/); */
}

.clouds {
    background-color: $fog-color;
    /*background-image: url(../imgs/); */
}